philae/bin/
philae/build/
philae/coverage/
philae/coverage.info
comet67p/node_modules
comet67p/coverage
rosetta/node_modules
rosetta/bower_components
rosetta/coverage
rosetta/test/instrumented-*.js
rosetta/www/css
rosetta/www/js
coverage.info
