philae/bin/
philae/build/
philae/coverage/
philae/coverage.info
comet67p/coverage
rosetta/node_modules
rosetta/bower_components
rosetta/coverage
rosetta/test/instrumented-app
rosetta/www
coverage.info
node_modules
.env
*db.json
